*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #f4f4f4 , #ef64e8);
}
#main{
    position: relative;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.logo{
    position: absolute;
    top: 0;
    left: 127px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#header{
        position: absolute;
        top: 50px;
        left: 280px;
        height: 46px;
        min-width: 71%;
}
#nav > li > a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
#nav li a{
    text-decoration: none;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #808080;
}
#nav > li{
    line-height: 46px;
    float: left;
    position: relative;
    padding: 0px 20px;
}
#nav >li:first-child{
    padding-left: 0;
}
#nav li
{
    list-style: none;
}
#nav .subnav{
    display: none; 
    z-index: 10;
    min-width: 160px;
    position: absolute;
    background-color: #FFB6C1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: black;
    line-height: 38px;
    padding: 0px 12px;
}
#nav li:hover .subnav{
    display: block
}
#nav .down{
    font-size: 14px;
}
.login{
    float: right;
    line-height: 46px;
}
.login input{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 13pt;
    font-weight: bold;
    background-color: cornflowerblue;
    cursor: pointer;
}
.login input:hover{
    background-color: #FF7F50  ;
}
#slide{
        position: absolute;
        top: 211px;
        left: 147px;
        width: 80%;
        height: 400px;
        
}
#slide img{
    margin-top: -65px;
    width: 100%;
    height: 100%;
    object-fit: hidden;
    border-radius: 4px;
}
#container{
    display: flex;
    position: absolute;
    top: 560px;
    left: 147px;
    width: 80%;
    float: left;
}
.menu{
    float: left;
        border: 2px solid #9C9C9C ;
        height: 300px;
        min-width: 240px;
        color: #4A708B;
        padding: 10px 10px;
        border-radius: 5px;
}
 .menu h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.menu li{
    list-style: none;
    padding: 6px 10px;
    font-size: 13pt;
    cursor: pointer;
}
.menu li:hover{
    color: violet;
    font-style: 20px;
    font-weight: bold;
}
.menu-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0 0px 10px 20px;
}
.card{
    margin-top: 10px;
    width: 263px;
    height: 300px;
    cursor: pointer;
    text-align: left;
}
.card img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
}
.card a{
    font-weight: bold;
    text-decoration: none;
    color: #4A708B   ;
    display: block;
    margin-bottom: 3px;
}
.card p{
    font-style: italic;
    color: #8B6969    ;
}
.in{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.card button{
    position: absolute;
    top: -18px;
    right: 0;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: orchid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.card a:hover{
    color: violet;
}
.card img:hover{
    transform: scale(1.1);
    margin-bottom: 20px;
}
.card button:hover{
    background: #FF7F50    ;
}
/* .footer{
    width: 80%;
    height: 60px;
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer span{
    font-size: 13pt;
    color: #6E7B8B;
}  */